/********************************************************************
* Description : ${1:This file contains the $2 configuration.}
* Instruction : $3
* Phenomenon  : $4
* date        : ${date}
* Author      : ${author}
********************************************************************/

#include "$5"

/********************************************************************
*                       FUNCTION PROTOTYPES                         *
********************************************************************/

$6
