/********************************************************************
* Module      : ${1:This file contains the $2 configuration.}
* Instruction : $3
* Example     :
* date        : ${date}
* Author      : ${author}
********************************************************************/

#ifndef _$4_H
#define _$4_H

/********************************************************************
*                       INCLUDE                                     *
********************************************************************/
#include "$0"
#include <stdint.h>

/********************************************************************
*                       DEFINES                                     *
********************************************************************/


/********************************************************************
*                       DATA TYPES                                  *
********************************************************************/


/********************************************************************
*                       FUNCTION STATEMENT                          *
********************************************************************/


#endif /* _$4_H */
