decode('utf8')
/*******************************************************
*	程序功能：$
*	接线说明：
*	实验现象：
*	日    期 : ${date}
*	作    者 : ${author}
*******************************************************/

#include ""